---
layout: default
---

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post-card">
    <div class="post-meta">
      <span class="post-date">{{ post.date | date: "%B %-d, %Y" }}</span>
      {% if post.categories.size > 0 %}
      <div class="post-categories">
        {% for category in post.categories %}
          <a href="{{ site.baseurl }}/categories/#{{ category | slugize }}" class="post-category-tag">{{ category }}</a>
        {% endfor %}
      </div>
      {% endif %}
    </div>

    <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

    <p class="post-excerpt">{{ post.excerpt | strip_html | truncatewords: 40 }}</p>

    <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read more &rarr;</a>
  </div>
  {% endfor %}

  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Newer</a>
    {% else %}
      <span>&laquo; Newer</span>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        <span class="webjeda">{{ page }}</span>
      {% elsif page == 1 %}
        <a href="{{ '/' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
      {% else %}
        <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
      {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older &raquo;</a>
    {% else %}
      <span>Older &raquo;</span>
    {% endif %}
  </div>
  {% endif %}
</div>
